In [81]:
import boto3
import pandas as pd
from io import StringIO # python3 python2: BytesIO

In [2]:
#defining all parametrs

AWS_ACCESS_KEY ='AKIAQM5PKG2LN2JKRLHR'
AWS_SECRET_KEY ='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'
AWS_REGION ='ap-south-1'
SCHEMA_NAME ='covid_dateset' # athena database name
S3_STAGING_DIR ='s3://vishnu-test-buck/output/' # query output will stored in output folder
S3_BUCKET_NAME ='vishnu-test-buck'
S3_OUTPUT_DIRECTORY ='output'

In [3]:
# connecting to athena for query

athena_client =boto3.client("athena",
    aws_access_key_id=AWS_ACCESS_KEY,
    aws_secret_access_key=AWS_SECRET_KEY,
    region_name=AWS_REGION,
)

In [4]:
athena_client

In [5]:
#defining function

Dict={}

def download_and_load_query_results(
    client:boto3.client, query_response: Dict
) -> pd.DataFrame:
    while True:
        try:
            # This function only loads the first 1000 rows
            client.get_query_results(
                QueryExecutionId=query_response["QueryExecutionId"]
            )
            break
        except Exception as err:
            if 'not yet finished' in str(err):
                time.sleep(0.001)
            else:
                raise err
    temp_file_location:str ="athena_query_results.csv"
    s3_client = boto3.client(
        "s3",
        aws_access_key_id=AWS_ACCESS_KEY,
        aws_secret_access_key=AWS_SECRET_KEY,
        region_name=AWS_REGION,
    )

    s3_client.download_file(
        S3_BUCKET_NAME,
        f"{S3_OUTPUT_DIRECTORY}/{query_response['QueryExecutionId']}.csv",
        temp_file_location,
    )

    return pd.read_csv(temp_file_location)

In [13]:
#querying athena (table1 -enigma_jhud)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM enigma_jhud",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [14]:
response

{'QueryExecutionId': 'd94b5091-c392-4e62-90aa-46c42473f175',
 'ResponseMetadata': {'RequestId': '70ae7b47-90a2-4a4a-84b2-9818b9b67234',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1',
   'date': 'Wed, 13 Jul 2022 10:48:55 GMT',
   'x-amzn-requestid': '70ae7b47-90a2-4a4a-84b2-9818b9b67234',
   'content-length': '59',
   'connection': 'keep-alive'},
  'RetryAttempts': 0}}

In [15]:
engima_jhud=download_and_load_query_results(athena_client,response)

In [16]:
engima_jhud.head()

,fips,admin2,province_state,country_region,last_update,latitude,longitude,confirmed,deaths,recovered,active,combined_key,partition_0
0,NaN,NaN,Anhui,China,2020-01-22T17:00:00,31.826,117.226,1.0,NaN,NaN,NaN,"""Anhui",csv
1,NaN,NaN,Beijing,China,2020-01-22T17:00:00,40.182,116.414,14.0,NaN,NaN,NaN,"""Beijing",csv
2,NaN,NaN,Chongqing,China,2020-01-22T17:00:00,30.057,107.874,6.0,NaN,NaN,NaN,"""Chongqing",csv
3,NaN,NaN,Fujian,China,2020-01-22T17:00:00,26.079,117.987,1.0,NaN,NaN,NaN,"""Fujian",csv
4,NaN,NaN,Gansu,China,2020-01-22T17:00:00,36.061,103.834,NaN,NaN,NaN,NaN,"""Gansu",csv

In [17]:
#querying athena (table2 -nytimes_data_in_usa_countryus_county)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_countryus_county",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [18]:
nytimes_data_in_usa_countryus_county=download_and_load_query_results(athena_client,response)

In [19]:
nytimes_data_in_usa_countryus_county.head()

         date          county     state     fips  cases  deaths
0  2020-03-22     St. Charles  Missouri  29183.0      3       0
1  2020-03-22       St. Louis  Missouri  29189.0     55       1
2  2020-03-22  St. Louis city  Missouri  29510.0     14       0
3  2020-03-22         Unknown  Missouri      NaN      1       0
4  2020-03-22      Broadwater   Montana  30007.0      1       0

In [20]:
#querying athena (table3 -nytimes_data_in_usa_us_states)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM nytimes_data_in_usa_us_states",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [21]:
nytimes_data_in_usa_us_states=download_and_load_query_results(athena_client,response)

In [22]:
nytimes_data_in_usa_us_states.head()

         date       state  fips  cases  deaths
0  2020-01-21  Washington    53      1       0
1  2020-01-22  Washington    53      1       0
2  2020-01-23  Washington    53      1       0
3  2020-01-24    Illinois    17      1       0
4  2020-01-24  Washington    53      1       0

In [23]:
#querying athena (table4 -rearc_covid_19_testing_data_states_daily)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_states_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [24]:
rearc_covid_19_testing_data_states_daily=download_and_load_query_results(athena_client,response)

In [25]:
rearc_covid_19_testing_data_states_daily.head()

,date,state,positive,probablecases,negative,pending,totaltestresultssource,totaltestresults,hospitalizedcurrently,hospitalizedcumulative,...,dataqualitygrade,deathincrease,hospitalizedincrease,hash,commercialscore,negativeregularscore,negativescore,positivescore,score,grade
0,20210307,AK,56886,NaN,NaN,NaN,totalTestsViral,1731628,33.0,1293.0,...,NaN,0.0,0.0,dc4bccd4bb885349d7e94d6fed058e285d4be164,0.0,0.0,0.0,0.0,0.0,NaN
1,20210307,AL,499819,107742.0,1931711.0,NaN,totalTestsPeopleViral,2323788,494.0,45976.0,...,NaN,-1.0,0.0,997207b430824ea40b8eb8506c19a93e07bc972e,0.0,0.0,0.0,0.0,0.0,NaN
2,20210307,AR,324818,69092.0,2480716.0,NaN,totalTestsViral,2736442,335.0,14926.0,...,NaN,22.0,11.0,50921aeefba3e30d31623aa495b47fb2ecc72fae,0.0,0.0,0.0,0.0,0.0,NaN
3,20210307,AS,0,NaN,2140.0,NaN,totalTestsViral,2140,NaN,NaN,...,NaN,0.0,0.0,96d23f888c995b9a7f3b4b864de6414f45c728ff,0.0,0.0,0.0,0.0,0.0,NaN
4,20210307,AZ,826454,56519.0,3073010.0,NaN,totalTestsViral,7908105,963.0,57907.0,...,NaN,5.0,44.0,0437a7a96f4471666f775e63e86923eb5cbd8cdf,0.0,0.0,0.0,0.0,0.0,NaN

In [26]:
#querying athena (table5 -rearc_covid_19_testing_data_us_daily)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_daily",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [27]:
rearc_covid_19_testing_data_us_daily=download_and_load_query_results(athena_client,response)

In [28]:
rearc_covid_19_testing_data_us_daily.head()

,date,states,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,...,lastmodified,recovered,total,posneg,deathincrease,hospitalizedincrease,negativeincrease,positiveincrease,totaltestresultsincrease,hash
0,20210307,56,28755524.0,74579770.0,11808.0,40212.0,878613.0,8137.0,45475.0,2801.0,...,2021-03-07T24:00:00Z,NaN,0,0,839,726,130414,41265,1156241,8b26839690cd05c0cef69cb9ed85641a76b5e78e
1,20210306,56,28714259.0,74449356.0,11783.0,41401.0,877887.0,8409.0,45453.0,2811.0,...,2021-03-06T24:00:00Z,NaN,0,0,1674,503,142201,59620,1409138,d0c0482ea549c9d5c04a7c86acb6fc6a8095a592
2,20210305,56,28654639.0,74307155.0,12213.0,42541.0,877384.0,8634.0,45373.0,2889.0,...,2021-03-05T24:00:00Z,NaN,0,0,2221,2781,271917,68787,1744417,a35ea4289cec4bb55c9f29ae04ec0fd5ac4e0222
3,20210304,56,28585852.0,74035238.0,12405.0,44172.0,874603.0,8970.0,45293.0,2973.0,...,2021-03-04T24:00:00Z,NaN,0,0,1743,1530,177957,65487,1590984,a19ad6379a653834cbda3093791ad2c3b9fab5ff
4,20210303,56,28520365.0,73857281.0,11778.0,45462.0,873073.0,9359.0,45214.0,3094.0,...,2021-03-03T24:00:00Z,NaN,0,0,2449,2172,267001,66836,1406795,9e1d2afda1b0ec243060d6f68a7134d011c0cb2a

In [29]:
#querying athena (table6 -rearc_covid_19_testing_data_us_total_latest)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_covid_19_testing_data_us_total_latest",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [30]:
rearc_covid_19_testing_data_us_total_latest=download_and_load_query_results(athena_client,response)

In [31]:
rearc_covid_19_testing_data_us_total_latest.head()

,positive,negative,pending,hospitalizedcurrently,hospitalizedcumulative,inicucurrently,inicucumulative,onventilatorcurrently,onventilatorcumulative,recovered,hash,lastmodified,death,hospitalized,total,totaltestresults,posneg,notes
0,1061101,5170081,2775,53793,111955,9486,4192,4712,373,153947,95064ba29ccbc20dbec397033dfe4b1f45137c99,2020-05-01T09:12:31.891Z,57266,111955,6233957,6231182,6231182,"""NOTE: """"total"""""

In [32]:
#querying athena (table7 -rearc_usa_hospital_beds)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM rearc_usa_hospital_beds",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [33]:
rearc_usa_hospital_beds=download_and_load_query_results(athena_client,response)

In [34]:
rearc_usa_hospital_beds.head()

,objectid,hospital_name,hospital_type,hq_address,hq_address1,hq_city,hq_state,hq_zip_code,county_name,state_name,...,num_licensed_beds,num_staffed_beds,num_icu_beds,adult_icu_beds,pedi_icu_beds,bed_utilization,avg_ventilator_usage,potential_increase_in_bed_capac,latitude,longtitude
0,1,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,650 E Indian School Rd,NaN,Phoenix,AZ,85012,Maricopa,Arizona,...,129.0,129.0,0,0,NaN,NaN,0.0,0,33.495498,-112.066157
1,2,Southern Arizona VA Health Care System,VA Hospital,3601 S 6th Ave,NaN,Tucson,AZ,85723,Pima,Arizona,...,295.0,295.0,2,2,NaN,NaN,2.0,0,32.181263,-110.965885
2,3,VA Central California Health Care System,VA Hospital,2615 E Clinton Ave,NaN,Fresno,CA,93703,Fresno,California,...,57.0,57.0,2,2,NaN,NaN,2.0,0,36.773324,-119.779742
3,4,VA Connecticut Healthcare System - West Haven ...,VA Hospital,950 Campbell Ave,NaN,West Haven,CT,6516,New Haven,Connecticut,...,216.0,216.0,1,1,NaN,NaN,2.0,0,41.284400,-72.957610
4,5,Wilmington VA Medical Center,VA Hospital,1601 Kirkwood Hwy,NaN,Wilmington,DE,19805,New Castle,Delaware,...,60.0,60.0,0,0,NaN,NaN,1.0,0,39.740206,-75.606532

In [35]:
#querying athena (table8 -static_datasets_countrycode)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countrycode",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [36]:
static_datasets_countrycode=download_and_load_query_results(athena_client,response)

In [37]:
static_datasets_countrycode.head()

          country alpha-2 code alpha-3 code  numeric code  latitude  longitude
0     Afghanistan           AF          AFG           4.0   33.0000       65.0
1         Albania           AL          ALB           8.0   41.0000       20.0
2         Algeria           DZ          DZA          12.0   28.0000        3.0
3  American Samoa           AS          ASM          16.0  -14.3333     -170.0
4         Andorra           AD          AND          20.0   42.5000        1.6

In [38]:
#querying athena (table9 -static_datasets_countypopulation)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_countypopulation",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [39]:
static_datasets_countypopulation=download_and_load_query_results(athena_client,response)

In [40]:
static_datasets_countypopulation.head()

               id   id2   county    state  population estimate 2018
0  0500000US01001  1001  Autauga  Alabama                     55601
1  0500000US01003  1003  Baldwin  Alabama                    218022
2  0500000US01005  1005  Barbour  Alabama                     24881
3  0500000US01007  1007     Bibb  Alabama                     22400
4  0500000US01009  1009   Blount  Alabama                     57840

In [41]:
#querying athena (table10 -static_datasets_state_abv)

response =athena_client.start_query_execution(
    QueryString="SELECT * FROM static_datasets_state_abv",
    QueryExecutionContext={"Database":SCHEMA_NAME},
    ResultConfiguration={
        "OutputLocation":S3_STAGING_DIR,
        "EncryptionConfiguration":{"EncryptionOption":"SSE_S3"},
    },
)

In [42]:
static_datasets_state_abv=download_and_load_query_results(athena_client,response)

In [36]:
static_datasets_state_abv.head()

       col0          col1
0     State  Abbreviation
1   Alabama            AL
2    Alaska            AK
3   Arizona            AZ
4  Arkansas            AR

In [43]:
# removing first row from table1 beause its showing c0 and c1

new_header=static_datasets_state_abv.iloc[0] #grab the first row the header

In [44]:
new_header

col0           State
col1    Abbreviation
Name: 0, dtype: object

In [45]:
static_datasets_state_abv=static_datasets_state_abv[1:]# take the data less the header row

In [46]:
static_datasets_state_abv.columns=new_header# set the header row as the df header

In [47]:
static_datasets_state_abv.head()

0       State Abbreviation
1     Alabama           AL
2      Alaska           AK
3     Arizona           AZ
4    Arkansas           AR
5  California           CA

In [48]:
#joining two tables base on requremet check diemseison image we requred factCovid
#here we used pandas



factCovid_1 =engima_jhud[['fips','province_state',	'country_region','confirmed','deaths','recovered','active']]

factCovid2=rearc_covid_19_testing_data_states_daily[['fips','date','positive','negative','hospitalizedcurrently','hospitalized','hospitalizeddischarged']]

factCovid=pd.merge(factCovid_1,factCovid2,on='fips',how='inner')

In [49]:
factCovid.head()

,fips,province_state,country_region,confirmed,deaths,recovered,active,date,positive,negative,hospitalizedcurrently,hospitalized,hospitalizeddischarged
0,NaN,Anhui,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
1,NaN,Beijing,China,14.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
2,NaN,Chongqing,China,6.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
3,NaN,Fujian,China,1.0,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN
4,NaN,Gansu,China,NaN,NaN,NaN,NaN,20210119,289939,NaN,1066.0,NaN,NaN

In [50]:
factCovid.shape

(27992, 13)

In [51]:
#dimregiontable (accroding to diemension image)

dimRegion_1=engima_jhud[['fips','province_state','country_region','latitude','longitude',]]
dimRegion_2=nytimes_data_in_usa_countryus_county[['fips','county','state']]
dimRegion=pd.merge(dimRegion_1,dimRegion_2,on ='fips',how ='inner')

In [52]:
dimRegion.head()

,fips,province_state,country_region,latitude,longitude,county,state
0,NaN,Anhui,China,31.826,117.226,Unknown,Missouri
1,NaN,Anhui,China,31.826,117.226,Unknown,Nevada
2,NaN,Anhui,China,31.826,117.226,Unknown,New Jersey
3,NaN,Anhui,China,31.826,117.226,New York City,New York
4,NaN,Anhui,China,31.826,117.226,Unknown,Puerto Rico

In [53]:
dimRegion.shape

(45101020, 7)

In [54]:
#dimhopitaltable (according to diemesnion)
dimhospital=rearc_usa_hospital_beds[['fips','state_name','latitude','longtitude','hq_address','hospital_name','hospital_type','hq_city','hq_state']]

In [55]:
dimhospital.head()

,fips,state_name,latitude,longtitude,hq_address,hospital_name,hospital_type,hq_city,hq_state
0,4013.0,Arizona,33.495498,-112.066157,650 E Indian School Rd,Phoenix VA Health Care System (AKA Carl T Hayd...,VA Hospital,Phoenix,AZ
1,4019.0,Arizona,32.181263,-110.965885,3601 S 6th Ave,Southern Arizona VA Health Care System,VA Hospital,Tucson,AZ
2,6019.0,California,36.773324,-119.779742,2615 E Clinton Ave,VA Central California Health Care System,VA Hospital,Fresno,CA
3,9009.0,Connecticut,41.284400,-72.957610,950 Campbell Ave,VA Connecticut Healthcare System - West Haven ...,VA Hospital,West Haven,CT
4,10003.0,Delaware,39.740206,-75.606532,1601 Kirkwood Hwy,Wilmington VA Medical Center,VA Hospital,Wilmington,DE

In [56]:
dimhospital.shape

(6637, 9)

In [57]:
#dimDate table (according to diemesnion)
dimDate=rearc_covid_19_testing_data_states_daily[['fips','date']]

In [58]:
dimDate.head()

   fips      date
0   2.0  20210307
1   1.0  20210307
2   5.0  20210307
3  60.0  20210307
4   4.0  20210307

In [59]:
dimDate.shape

(2685, 2)

In [60]:
dimDate['date'] = pd.to_datetime(dimDate['date'],format="%Y%m%d")

C:\Users\gsmca\AppData\Local\Temp\ipykernel_6780\1595787405.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['date'] = pd.to_datetime(dimDate['date'],format="%Y%m%d")

In [61]:
dimDate.head()

   fips       date
0   2.0 2021-03-07
1   1.0 2021-03-07
2   5.0 2021-03-07
3  60.0 2021-03-07
4   4.0 2021-03-07

In [62]:

#to define ,year,month,day_of_week
dimDate['year']=dimDate['date'].dt.year
dimDate['month']=dimDate['date'].dt.month
dimDate['day_of_week']=dimDate['date'].dt.dayofweek

C:\Users\gsmca\AppData\Local\Temp\ipykernel_6780\3814464257.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['year']=dimDate['date'].dt.year
C:\Users\gsmca\AppData\Local\Temp\ipykernel_6780\3814464257.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['month']=dimDate['date'].dt.month
C:\Users\gsmca\AppData\Local\Temp\ipykernel_6780\3814464257.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dimDate['day_of_week']=dimDate['date'].dt.dayofweek

In [63]:
dimDate.head()

   fips       date  year  month  day_of_week
0   2.0 2021-03-07  2021      3            6
1   1.0 2021-03-07  2021      3            6
2   5.0 2021-03-07  2021      3            6
3  60.0 2021-03-07  2021      3            6
4   4.0 2021-03-07  2021      3            6

In [58]:
#now saving all diemansion model table into s3

bucket='vishnu-covid-de-project' #already created on s3

In [ ]:
csv_buffer = StringIO()

In [ ]:
csv_buffer

In [ ]:
factCovid.to_csv(csv_buffer)

In [ ]:
#error in this 

s3_resource=boto3.resource('s3')
s3_resource.Object(bucket,'output/factCovid.csv').put(Body=csv_buffer.getvalue())

In [59]:

#solution
#table ==>factCovid
#Creating Session With Boto3.
session = boto3.Session(
aws_access_key_id=AWS_ACCESS_KEY,
aws_secret_access_key=AWS_SECRET_KEY
)
#Creating S3 Resource From the Session.
s3_res = session.resource('s3')
csv_buffer = StringIO()
factCovid.to_csv(csv_buffer)
bucket_name = 'vishnu-covid-de-project'
s3_object_name = 'factCovid.csv'
s3_res.Object(bucket_name, 'output/factCovid.csv').put(Body=csv_buffer.getvalue())
print(" factCovid is saved as CSV in S3 bucket.")

 factCovid is saved as CSV in S3 bucket.

In [63]:
#solution
#table ==>dimRegion (it would take one hour to write beacuse size is 2.4gb)

#Creating S3 Resource From the Session.
s3_res = session.resource('s3')
csv_buffer = StringIO()
dimRegion.to_csv(csv_buffer)
bucket_name = 'vishnu-covid-de-project'
s3_object_name = 'output/dimRegion.csv'
s3_res.Object(bucket_name, s3_object_name).put(Body=csv_buffer.getvalue())
print(" dimRegion is saved as CSV in S3 bucket.")

 dimRegion is saved as CSV in S3 bucket.

In [61]:

#solution
#table ==>dimhospital

#Creating S3 Resource From the Session.
s3_res = session.resource('s3')
csv_buffer = StringIO()
dimhospital.to_csv(csv_buffer)
bucket_name = 'vishnu-covid-de-project'
s3_object_name = 'output/dimhospital.csv'
s3_res.Object(bucket_name, s3_object_name).put(Body=csv_buffer.getvalue())
print(" dimhospital is saved as CSV in S3 bucket.")

 dimhospital is saved as CSV in S3 bucket.

In [62]:

#solution
#table ==>dimDate


#Creating S3 Resource From the Session.
s3_res = session.resource('s3')
csv_buffer = StringIO()
dimDate.to_csv(csv_buffer)
bucket_name = 'vishnu-covid-de-project'
s3_object_name = 'output/dimDate.csv'
s3_res.Object(bucket_name, s3_object_name).put(Body=csv_buffer.getvalue())
print(" dimDate is saved as CSV in S3 bucket.")

 dimDate is saved as CSV in S3 bucket.

In [64]:

# creating a schema of above four tables in pandas
#table===>dimDate
dimDatesql=pd.io.sql.get_schema(dimDate.reset_index(),'dimDate')
print(''.join(dimDatesql))

CREATE TABLE "dimDate" (
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)

In [65]:
#table===>dimhospital
dimhospitalsql=pd.io.sql.get_schema(dimhospital.reset_index(),'dimhospital')
print(''.join(dimhospitalsql))

CREATE TABLE "dimhospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)

In [95]:
#table===>factCovid 
factCovidsql=pd.io.sql.get_schema(factCovid.reset_index(),'factCovid')
print(''.join(factCovidsql))

CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)

In [ ]:

#skipping this one beacuse it take long time and also stuck my computer
#table===>dimRegion 
dimRegionsql=pd.io.sql.get_schema(dimRegion.reset_index(),'dimRegion')
print(''.join(dimRegionsql))

In [ ]:
#manual output of above
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
  
)

In [105]:
import redshift_connector

In [158]:
#now creating a connection betwween python and redshift


conn = redshift_connector.connect(
    host='redshift-cluster-1.cafwxanap8ta.ap-south-1.redshift.amazonaws.com',
    database='dev',
    user="awsuser",
    password='Sahil1234'
)

In [159]:
conn.autocommit=True

In [160]:
cursor=redshift_connector.Cursor = conn.cursor()

In [128]:
#now creating table in redshift
#table-->dimDate

cursor.execute("""
CREATE TABLE "dimDate"(
"index" INTEGER,
  "fips" REAL,
  "date" TIMESTAMP,
  "year" INTEGER,
  "month" INTEGER,
  "day_of_week" INTEGER
)
""")

In [129]:

#table-->dimhospital

cursor.execute("""
CREATE TABLE "dimhospital" (
"index" INTEGER,
  "fips" REAL,
  "state_name" TEXT,
  "latitude" REAL,
  "longtitude" REAL,
  "hq_address" TEXT,
  "hospital_name" TEXT,
  "hospital_type" TEXT,
  "hq_city" TEXT,
  "hq_state" TEXT
)
""")

In [130]:

#table-->factCovid

cursor.execute("""
CREATE TABLE "factCovid" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "confirmed" REAL,
  "deaths" REAL,
  "recovered" REAL,
  "active" REAL,
  "date" INTEGER,
  "positive" INTEGER,
  "negative" REAL,
  "hospitalizedcurrently" REAL,
  "hospitalized" REAL,
  "hospitalizeddischarged" REAL
)
""")

In [132]:

#table-->dimRegion

cursor.execute("""
CREATE TABLE "dimRegion" (
"index" INTEGER,
  "fips" REAL,
  "province_state" TEXT,
  "country_region" TEXT,
  "latitude" REAL,
  "longitude" REAL,
  "county" TEXT,
  "state" TEXT
  
)
""")

In [156]:
#now copying a data from s3 to redshift using copy command 
#iam role-->amazon s3 full access should be enabled
#table -->dimDate
cursor.execute("""
copy dimDate from 's3://vishnu-covid-de-project/output/dimDate.csv'
credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [161]:
#now copying a data from s3 to redshift using copy command 
#iam role-->amazon s3 full access should be enabled
#table -->dimhospital
cursor.execute("""
copy dimhospital from 's3://vishnu-covid-de-project/output/dimhospital.csv'
credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [162]:
#now copying a data from s3 to redshift using copy command 
#iam role-->amazon s3 full access should be enabled
#table -->factCovid
cursor.execute("""
copy factCovid from 's3://vishnu-covid-de-project/output/factCovid.csv'
credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")

In [163]:
#now copying a data from s3 to redshift using copy command 
#iam role-->amazon s3 full access should be enabled
#table -->dimRegion
cursor.execute("""
copy dimRegion from 's3://vishnu-covid-de-project/output/dimRegion.csv'
credentials 'aws_iam_role=arn:aws:iam::027748087446:role/redshift-s3-access'
delimiter ','
region 'ap-south-1'
IGNOREHEADER 1
""")